<% layout("/layouts/boilerplates") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h2>Edit Listing</h2>

      <form
        method="post"
        action="/listings/<%=listing._id%>?_method=PUT"
        novalidate
        class="needs-validation"
      >
        <div class="md-3">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            value="<%= listing.title %>"
            name="listing[title]"
            id="title"
            class="form-control"
            required
          />
          <!-- Validation-Success And Failure-Text -->
          <div class="invalid-feedback">Please choose a Valid Title</div>
          <div class="valid-feedback">Title is looks Good!</div>
        </div>

        <div class="md-3">
          <label for="desc" class="form-label">Description:</label>
          <textarea
            name="listing[description]"
            id="desc"
            class="form-control"
            required
          >
<%= listing.description %></textarea
          >

          <!-- Validation-Success And Failure-Text -->
          <div class="invalid-feedback">Please add a short description</div>
        </div>

        <div class="md-3">
          <label for="image" class="form-label">Image:</label>
          <input
            name="listing[image]"
            id="image"
            value="<%= listing.image %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please add a valid image link</div>
        </div>

        <div class="row">
          <div class="md-3 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input
              type="number"
              .
              value="<%= listing.price %>"
              name="listing[price]"
              id="price"
              class="form-control"
              required
            />
            <!-- Validation-Success And Failure-Text -->
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>

          <div class="md-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              value="<%= listing.country %>"
              name="listing[country]"
              id="country"
              class="form-control"
              required
            />
            <!-- Validation-Success And Failure-Text -->
            <div class="invalid-feedback">
              Please enter a valid country name
            </div>
          </div>
        </div>

        <div class="md-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            value="<%= listing.location %>"
            name="listing[location]"
            id="location"
            class="form-control"
            required
          />
          <!-- Validation-Success And Failure-Text -->
          <div class="invalid-feedback">Please enter a location name</div>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
      </form>
    </div>
  </div>
</body>
